body{
	text-align: center;
}
button{
	font-family: serif arial times;
	font-size: 90%;
	letter-spacing: 2px;
	cursor:pointer;
	padding: 14px 12px;
	border-radius: 5px;
	text-align: center;
	color: #FFF;
}
button:hover{
	transform: scale(1.09);
}
.buttons{
	position: fixed;
	display: flex;
}

#start{
	background:#48633B;
	margin: 235px 334%;
}
#lap{
	background:#E39C06;
	display: none;
	margin:110% 14% 162% 62%;
}
#stop{
	background:#721329;
	display: none;
	margin:110% 14% 162%;
}
#reset{
	background:#48C9B0 ;
	display: none;
	margin:110% 14% 162%;
}
#clear{
	background:#BB8FCE;
	margin: 1% -1%;
}
#timer {
    padding: 4% 2% 97px 3%;
    font-size: 37pt;
    color: #3b3b3b;
    display: flex;
    position: fixed;
}

.time {
    background-color: #d6d6d6;
    padding:28px;
    margin: 1%;
    border-radius: 20px;
}

.time:hover {
    background-color: #fefefe;
}
#laps {
    border: 0px;
    background-color: #3a3a3a;
    padding:0 90px 0px 62px;
    text-align: center;
    border-radius:5px;
    font-size: 12pt;
    overflow: auto;
    display: block;
    height: 364px;
    margin:-7% 4% 0% 4%;

}
.Stopwatch{
	background-color:black;
	margin:7% 0 0 12%;
	width: 555px;
	height: 355px;
	border-radius: 5px;
	display: flex;
}
.Records{
	background-color:#000;
    color: #fefefe;
    border-radius: 5px;
    margin:-1.5% 5% 0% 45%;
    width: 405px;
    height: 455px;
    padding: 1%;
    position: fixed;
}
